
/* TOP NAV BAR */
.topnav {
    background-color: #0c2340;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: env(safe-area-inset-top);
}

/* Style the titles inside the top navigation bar */
.topnav h1 {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.content {
    margin-top: 3.0em;
    margin-bottom: 4.0em;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

#map {
    opacity: 0;
}

#map-canvas {
    opacity: 0;
}

/* pin the tab bar to the bottom and style it */
.tabbar {
    background-color: #0c2340;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
}

/* Style the links inside the tab bar */
.tabbar a {
    margin: 0px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 7px;
    text-decoration: none;
    width: 25%;
    font-size: 0.75em;
}

/* Add a color to the active/current link */
.tabbar a.active {
    background-color: #4CAF50;
    color: white;
}

.tab-image {
    width: 25px;
    height: 25px;
    padding: 5px;
}

