
/* TOP NAV BAR */
.topnav {
    background-color: #0c2340;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: env(safe-area-inset-top);
    height: 48px;
    /* force gpu acceleration to prevent iOS glitch */
    transform: translate3d(0,0,0);
}

/* Style the titles inside the top navigation bar */
.topnav h1 {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 13px 7px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    /* force gpu acceleration to prevent iOS glitch */
    transform: translate3d(0,0,0);
}

#topnav-title {
    /* force gpu acceleration to prevent iOS glitch */
    transform: translate3d(0,0,0);
}

#backbutton{
    position: relative;
    padding: 10px 13px 7px;
    /*transform: translate(0%, -50%);*/
    float: left;
    height: 45px;
}

#backbutton:active{
    background-color: red;
}

#map {
    position: static;
    margin-top: 48px;
    padding-top: env(safe-area-inset-top);
    margin-bottom: 0;
    padding-bottom: 0;
}

.content {
    /* do not change values, this ensures proper display between the navigation bar and tab bar */
    position: static;
    margin-top: 48px;
    margin-bottom: 3.2em;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

/* pin the tab bar to the bottom and style it */
.tabbar {
    background-color: #0c2340;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #f2f2f2;
    padding-bottom: env(safe-area-inset-bottom);
    /* force gpu acceleration to prevent iOS glitch */
    transform: translate3d(0,0,0);
}

/* Style the links inside the tab bar */
.tabbar a {
    margin: 0px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 7px;
    text-decoration: none;
    width: 25%;
    font-size: 0.75em;
    /* force gpu acceleration to prevent iOS glitch */
    transform: translate3d(0,0,0);
}

/* Add a color to the active/current link */
.tabbar a.active {
    background-color: #2DCCD3;
    color: white;
    /* force gpu acceleration to prevent iOS glitch */
    transform: translate3d(0,0,0);
}

.tab-image {
    width: 25px;
    height: 25px;
    padding: 4px;
    /* force gpu acceleration to prevent iOS glitch */
    transform: translate3d(0,0,0);
}

.tab-label {
    /* force gpu acceleration to prevent iOS glitch */
    transform: translate3d(0,0,0);
}

.fix {
    position:relative;
    width: 100%;
}

.tab-component {
    /* force gpu acceleration to prevent iOS glitch */
    transform: translate3d(0,0,0);
}

.tab-icon {
    /* force gpu acceleration to prevent iOS glitch */
    transform: translate3d(0,0,0);
}
